// Styling for the contact section
section#contact {
  background-color: $gray-900;
  background-image: url("#{$contact-image}");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 150px;
  padding-bottom: 100px;
  .section-heading {
    color: $white;
  }
}
