// Styling for the values section
section#values {
  background-color: rgb(110, 157, 238);
  background-image: url("#{$values-image}");
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 350px;
  padding-bottom: 200px;
  .section-heading {
    color: $white;
  }
  .section-subheading {
    color: $white;
  }
}
